In [2]:
def myfunction():
    print("my name is shahnawaz")
myfunction()

my name is shahnawaz

In [11]:
def myname(name):
    print(name  +" khan")
myname("atik")
myname("zeeshan")
myname("sikandar")

atik khan
zeeshan khan
sikandar khan

In [15]:
def mname(name,surname):
    print(name+"  "+ surname)
mname('ezra','furman')
mname('saud','shaikh')

ezra  furman
saud  shaikh

In [16]:
def add():
    x=10
    y=5
    c=x+y
    print(c)
add()

15

In [17]:
def add(a,b):
    c=a+b
    print(c)
add(10,5)

15

In [25]:
def sub(b,c):
    a=b-c
    print(a)
sub(15,10)

5

In [26]:
def mul(a,b):
    c=a*b
    print(c)
mul(50,10)

500

In [33]:
def div(x,y):
    c=x/y
    print(c)
div(10,5)

2.0

In [38]:
def add(10):
    print(a)
add(a)

SyntaxError: invalid syntax (3458310121.py, line 1)

In [7]:
a=10,3,4,5,6
def add(a):
    print(a)
add(a)

(10, 3, 4, 5, 6)

In [10]:
def disp():
    name="sjhdghd"
    print("my name is ",name)
disp()
disp()

my name is  sjhdghd
my name is  sjhdghd

In [11]:
def mykids(*kids):
    print("th youngest child is "+kids[2])
mykids("sam","dean","kucy")

th youngest child is kucy

In [17]:
def kids(child1,child2,child3):
    print("my child is  "+ child1)
kids(child2="sam",child1="dean",child3="moses")

my child is  dean

In [18]:
def child(**kid):
    print("his last name is "+kid["hhname"])
child(fname="sam",hhname="dean")

his last name is dean

In [12]:
def child(**kid):
    print("his last name is "+kid["hhname"] , kid["fname"], kid["name"])
child(hhname="dean",fname="sam",name="max")

his last name is dean sam max

In [23]:
def function(food):
    for x in food:
        print(x)
fruits=["apple","banana","chiku"]
function(fruits)

apple
banana
chiku

In [26]:
def func(fruits):
    for x in fruits:
        print(x)
foods={"apple","cherry","banana"}
func(foods)
func(foods)

banana
apple
cherry
banana
apple
cherry

In [33]:
def func(x):
    for i in x:
        print(i)
y={
    "brand":"ford",
    "model":"mustang",
    "year":1940
}
func(y)

brand
model
year

In [36]:
def f(y):
    return 5*y
print(f(3))
print(f(33))
print(f(333))
print(f(33333333333))

15
165
1665
166666666665

In [37]:
def sub(e):
    return 10%e
f(30)

150

In [49]:
 def add():
        a=10
        b=5
        c=a+b
        return c
add()

15

In [3]:
def add():
    a=int(input("enter number"))
    b=int(input("enter number"))
    c=a+b
    print("addtion=",c)
add()

enter number5
enter number5
addtion= 10

In [6]:
def oddeve():
    a=int(input("enter the number"))
    if a%2==0:
        print("even")
    else:
        print("odd")
oddeve()

enter the number3
odd

In [9]:
def odeve():
    if a%2==0:
        print("even")
    else:
        print("odds")
m=int(input("enter number"))
odeve(m)

enter number4

TypeError: odeve() takes 0 positional arguments but 1 was given

In [15]:
x = lambda a: a+10 
print(x(5))

15

In [16]:
a=lambda b: b+100
print(a(45))

145

In [17]:
x=lambda a: a*10
print(x(10))

100

In [18]:
x=lambda a,b : a*b
print(x(3,3))

9

In [19]:
x=lambda a,b,c: a*b*c
print(x(5,6,5))

150

In [20]:
x=lambda a,b,c: a+b+c
print(x(5,5,5))

15

In [24]:
def myfunc(n):
  return lambda k : k * n

mytripler = myfunc(3)

print(mytripler(11))

33

In [35]:
def myfunc(n):
  return lambda a : a*  n

a=myfunc(3)
print(a(11))

33