In [1]:
class myclass:
    x=5
p1=myclass()
print(p1.x)

5

In [3]:
class a:
    y=10
b=a()
print(b.y)

10

In [8]:
class a:
    x=3
    y=4
b=a()
print(b.y)
print(b.x)

4
3

In [13]:
lst=[2,3,4]
def add(l):
    for i in l:
        print(i)
add(lst)

2
3
4

In [30]:
lst=[2,3,4]
lst2=[4,5,7]
lst3=[1,2,3]
def show_element(a):
    for i in a:
        print(i)
show_element(lst3)

1
2
3

In [1]:
class person:
    def __init__(self,name,age):
        self.name = name
        self.age = age
p1=person("john",36)
print(p1.name)
print(p1.age)
print(p1)

john
36
<__main__.person object at 0x0000022789B86EC0>

In [9]:
class a:
    def __init__(b,name,age):
        b.name=name
        b.age=age
p1=a("sam",23)
print(p1.name)
print(p1.age)

sam
23

In [1]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def myfunc(xyz):
        print("hello my name is "+xyz.name)
p1=person("dean",22)
p1.myfunc()

hello my name is dean

In [15]:
print(p1.myfunc())

hello my name is dean
None

In [5]:
class Person:
    x="xyz"
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def Myfunc(self):
        print("my name is ",self.age,self.name,self.new_name)
    @classmethod
    def func(cls,new_name):
        cls.x=new_name
p1=Person("dean",22)
Person.func("ooo")

In [8]:


class myclass:
    x=5
p1=myclass()
print(p1.x)

5

In [3]:
class myclass:
    x=5
    y=6
p1=myclass()
p2=myclass()
print(p1.y)
print(p2.x)

6
5

In [8]:
 class a:              
        x=5
        y=6
b=a()
b1=a()
print(b.x)
print(b.y)
print(b1.x)
print(b1.y)

5
6
5
6

In [12]:
class a:
    lst=[1,23,4]
    for i in lst:
        print(i)
b=a()
print(b.lst)

1
23
4
[1, 23, 4]

In [17]:
class a:
    a=[1,23,4]
b=a()
print(b.a)

[1, 23, 4]

In [3]:
class a:
    a=("1,2,3,3,3,3")
    c={"a",2,3,4,35,6}
    d={
        "brand":"ford",
        "model":"mustang"
    }
b=a()
print(b.a)
print(b.c)
print(b.d)

1,2,3,3,3,3
{2, 3, 35, 'a', 4, 6}
{'brand': 'ford', 'model': 'mustang'}

In [25]:
class ABC:
    def add(self,a,b):
        return(a+b)
    def add(self,a,b,c=1):
        return a+b+c
p1=ABC()
p1.add(2,4,2)

8

In [10]:
str="python"
print(len(str))

6

In [11]:
lst=["hii",234,"python"]
print(len(lst))

3

In [32]:
class Student:
    def __init__(self,name,percentage,age):
        self.age=age
        self.name=name
        self.percentage=percentage
    def show(self):
        print("my name is",self.name,"and my percentage is",self.percentage,self.age)
p1=Student("harry",80,"gello")
p1.show()

my name is harry and my percentage is 80 gello

In [3]:
class Student:
    def __init__(self,name,age):
        self.age=age
        self.name=shadab
    def show(self):
        print("my name is",self.age,"and my age is",self.name)
print('first student')
p1=Student(30,"shadab")
p1.show()

print("second student")
p1=Student(23,"shadab")
p1.show()

first student

NameError: name 'shadab' is not defined

In [1]:
class Employee:
    companyname="ABC company"
    def __init__(self,name,salary):
        self.name=name
        self.salary=salary
    def show(self):
        print("Employee:",self.name)
p1=Employee("hary",20000)
p1.show()

Employee: hary

In [9]:
class a:
    x=9
p1=a()
print(p1.x)

9

In [11]:
class Employee:
    def __init__(self,name,salary):
        self.a=name
        self.salary=salary
    def show(self):
        print("name is",self.name, "and salary is",self.salary)
p1=Employee("harry",30000)
print(p1.salary)
p1.show()

30000

AttributeError: 'Employee' object has no attribute 'name'

In [5]:
str="python"
print(len(str))

6

In [6]:
lst=[1,2,3]
print(len(lst))

3

In [3]:
#private encapsulation within the class , not sub class access
class Employee:
    def __init__(self,name,salary):
        self.name=name
        self.__salary=salary
    def show(self):
        print("name is",self.name, "and salary is",self.__salary)
p1=Employee("harry",30000)
print(p1._Employee__salary)
p1.show()

30000
name is harry and salary is 30000

In [11]:
#protected encapsulation, sub class and wiothin class access
class Employee:
    def __init__(self,name,salary):
        self.name=name
        self._salary=salary
    def show(self):
        print("name is",self.name, "and salary is",self._salary)
p1=Employee("harry",30000)
print(p1._salary)

30000

In [10]:
# getter setter only private mmebers  
class Student:
    def __init__(self,name,salary,age):
        self.name=name
        self.__salary=salary
        self.__age=age
    def show(self):
        print("student details:",self.name,self.__salary)
    def getsalary(self):
        return self.__salary
    def setsalary(self,rrrr):
        self.__salary=rrrr
p1=Student("sam",30000,14)
print("name",p1.name,p1.getsalary())
p1.setsalary(15000)
print("name",p1.name,p1.getsalary())

name sam 30000
name sam 15000

In [8]:
class Company:
    def __init__(self):
        self._project="a"
class Employee(Company):
    def __init__(self,name):
        self.name=name
        Company.__init__(self)
    def show(self):
        print("Employee name:",self.name)
        print("working on project:",self._project)
c=Employee("sam")
c.show()
print("project:",c._project)

Employee name: sam
working on project: a
project: a

In [13]:
class Student:
    def __init__(self,name,rollno,age):
        self.name=name
        self.__rollno=rollno
        self.__age=age
    def show(self):
        print("Student:",self.name,self.__rollno)
    def getrollno(self):

In [19]:
class student:
    def __init__(self,name):
        self.a=name
s1=student("sam")
print(s1.a)

sam

In [6]:
class student:
    def __init__(self,name):
        self.name=name
        
    def show(self):
        print("hellildhcjf")
    def __del__(self):
        print("hugi")
s1=student("a")
s1.show()
del s1
s1.show()
pass s1
s1.show()

SyntaxError: invalid syntax (3354708841.py, line 13)

In [19]:
#unpack tuple
a=(2,"sam",3)
x,y,z=a
print(x,y,z)
print(type(a))

2 sam 3
<class 'tuple'>

In [18]:
a=2
b="sam"
c=3
y=a,b,c
print(y)
print(type(y))

(2, 'sam', 3)
<class 'tuple'>

In [22]:
#polymorphism example
a=["sam","ham","gam"]
b="abfjvn"
print(len(a))
print(len(b))

3
6

In [2]:
#polymorphism
print(5+6)
print("5"+"6")

11
56

In [12]:
#polymorphism method over riding
class Vehicle:
    def __init__(self,name,color,price):
        self.name=name
        self.color=color
        self.price=price
    def show(self):
        print(self.name,self.color,self.price)
    def maxspeed(self):
        print("max speed is 150")
    def changegear(self):
        print("change 6 gear")
class Car(Vehicle):
    def maxspeed(self):
        print("max speed is 230")
    def changegear(self):
        print("change 7 gear")
car=Car("car 1","red",30000)
car.show()
car.maxspeed()
# b=Vehicle("car2","yellow",40000)
car.show()
# b.maxspeed()
# b.changegear()
# car.changegear()

car 1 red 30000
max speed is 230
car 1 red 30000

In [31]:
#Python allows different classes to have methods with the same name.

class a:
    def fuel(self):
        print("petrol")
    def speed(self):
        print("330")
class b:
    def fuel(self):
        print("diesel")
    def speed(self):
        print("220")
c=a()
d=b()
for i in (c,d):
    i.fuel()
    i.speed()

petrol
330
diesel
220

In [32]:
#dought 
class student:
    
    def __init__(self,name,rollno):
        self.name=name
        self.rollno=rollno
    def show(self):
        return "Name of the student:",self.name,"Roll no of the student:",self.rollno
class school(student):
    def __init__(self, name, rollno,age):
        super().__init__(name, rollno)
        
        self.age = age
        zikra = super().show()
    def show(self):
        self.school="abp school"
        "school name:",self.school, "rollno.:",self.rollno, "age:", self.age  
class home(school):
    def __init__(self, name, rollno,age, subject):
        super().__init__(name, rollno, age)
        self.subject = subject
       
   
       
    def show(self):
        zikra = super().show()
        self.school="abp school"
        return "school name:",self.school, "rollno.:",self.rollno, "subject:", self.subject,zikra
        

s1=home('iram',55,33,"Maths")
s1.show()

('school name:', 'abp school', 'rollno.:', 55, 'subject:', 'Maths', None)

In [5]:
# polymorphism with function and objects
class A:
    def fuel(self):
        print("petrol")
    def max(self):
        print("330")
class B:
    def fuel(self):
        print("diesel")
    def max(self):
        print("440")
def car(obj):
    obj.fuel()
    obj.max()
x=A()
y=B()
car(x)
car(y)

petrol
330
diesel
440

In [8]:
#method overloading
def addition(a,b):
    c=a+b
    print(c)
def addition(a,b,c):
    d=a+b+c
    print(d)
     
addition(3,3,3)

9

In [14]:
class a:
    def __init__(self):
        print("show")
    def show(self):
        print("s")

p1.show()

s

In [3]:
class a:
    def __init__(self,saud):
        self.name=name
    def show(self):
        print(self.name)
p1=a()
p1.show()

TypeError: a.__init__() missing 1 required positional argument: 'saud'

In [2]:
class Student:
    def __init__(self, name, age):
        # private member
        self.name = name
        self.__age = age

    # getter method
    def getage(self):
        return self.__age

    # setter method
    def setage(self, age):
        self.__age = age

stud = Student('Jessa', 14)

# retrieving age using getter
print('Name:', stud.name, stud.getage())

# changing age using setter
stud.setage(16)

# retrieving age using getter
print('Name:', stud.name, stud.getage())

Name: Jessa 14
Name: Jessa 16

In [2]:
class A:
    def __init__(self):
        print(1)
    def __init__(self):
        print(2)
p1=A()

2

In [16]:
class Student:
    school_name="xyz"
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def show(self):
        print(f"My name is {self.name} {self.age} {self.school_name} {Student.school_name}")
    @classmethod
    def work(cls,new_school_name):
              cls.school_name=new_school_name
obj=Student("shanawaz",25)
Student.work("www")
obj.show()

My name is shanawaz 25 www www