In [3]:
def func(a,b):
    return a + b
x=func(1,2)
print(x)
del x
print(x)

SyntaxError: invalid syntax (2899496185.py, line 7)

In [5]:
def func(a,b):
    pass

In [26]:
import datetime
now =datetime.datetime.now()
print(now)

2022-07-24 15:16:05.133560

In [30]:
print(help("class"))

Class definitions
*****************

A class definition defines a class object (see section The standard
type hierarchy):

   classdef    ::= [decorators] "class" classname [inheritance] ":" suite
   inheritance ::= "(" [argument_list] ")"
   classname   ::= identifier

A class definition is an executable statement.  The inheritance list
usually gives a list of base classes (see Metaclasses for more
advanced uses), so each item in the list should evaluate to a class
object which allows subclassing.  Classes without an inheritance list
inherit, by default, from the base class "object"; hence,

   class Foo:
       pass

is equivalent to

   class Foo(object):
       pass

The class’s suite is then executed in a new execution frame (see
Naming and binding), using a newly created local namespace and the
original global namespace. (Usually, the suite contains mostly
function definitions.)  When the class’s suite finishes execution, its
execution frame is discarded but its local namespace is saved. [5] A
class object is then created using the inheritance list for the base
classes and the saved local namespace for the attribute dictionary.
The class name is bound to this class object in the original local
namespace.

The order in which attributes are defined in the class body is
preserved in the new class’s "__dict__".  Note that this is reliable
only right after the class is created and only for classes that were
defined using the definition syntax.

Class creation can be customized heavily using metaclasses.

Classes can also be decorated: just like when decorating functions,

   @f1(arg)
   @f2
   class Foo: pass

is roughly equivalent to

   class Foo: pass
   Foo = f1(arg)(f2(Foo))

The evaluation rules for the decorator expressions are the same as for
function decorators.  The result is then bound to the class name.

Changed in version 3.9: Classes may be decorated with any valid
"assignment_expression". Previously, the grammar was much more
restrictive; see **PEP 614** for details.

**Programmer’s note:** Variables defined in the class definition are
class attributes; they are shared by instances.  Instance attributes
can be set in a method with "self.name = value".  Both class and
instance attributes are accessible through the notation “"self.name"”,
and an instance attribute hides a class attribute with the same name
when accessed in this way.  Class attributes can be used as defaults
for instance attributes, but using mutable values there can lead to
unexpected results.  Descriptors can be used to create instance
variables with different implementation details.

See also:

  **PEP 3115** - Metaclasses in Python 3000
     The proposal that changed the declaration of metaclasses to the
     current syntax, and the semantics for how classes with
     metaclasses are constructed.

  **PEP 3129** - Class Decorators
     The proposal that added class decorators.  Function and method
     decorators were introduced in **PEP 318**.

Related help topics: CLASSES, SPECIALMETHODS

None

In [2]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [4]:
print(help("keywords"))

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

None

In [5]:
x=25
y=20
z=x>y
print(z)

True

In [2]:
print("for loop to display first five numbers")
for i in range(5):
    print(i,end=" ")
print("while loop to display first five numbers")
n=0
while n<5:
    print(n,end=" ")
    n=n+1

for loop to display first five numbers
0 1 2 3 4 while loop to display first five numbers
0 1 2 3 4

In [7]:
from datetime import datetime
a = datetime.now()
print(a)

2022-07-25 14:37:53.943783

In [25]:
from datetime import date
a=datetime.now()
print(a)

2022-07-25 16:52:33.744900

In [16]:
a=["smdm",2,"kelly",11.4,5.5]
print(a)
print(type(a).__name__)

['smdm', 2, 'kelly', 11.4, 5.5]
list

In [24]:
PI=3.14
TOTAL_AREA= 1233
import CONSTANT
print(CONSTANT.PI)
print(CONSTANT.TOTAL_AREA)

ModuleNotFoundError: No module named 'CONSTANT'

In [1]:
a=100
del a
print(a)

NameError: name 'a' is not defined

In [1]:
a=b=c=111
print(a)

111

In [2]:
print(b)

111

In [3]:
print(c)

111

In [6]:
a="1"
b="2"
c=a+b
print(c)

12

In [9]:
def tst1():
    a=900
    print("value",a)
def tst2():
    print("value:",a)
tst1()
tst2()

value 900
value: 1

In [2]:
b=900
def a():
    print("value",b)
def c():
    print("value",b)
a()
c()

value 900
value 900

In [3]:
a=10
b=20
c=30
d=40
y=a,b,c,d
print(y)

(10, 20, 30, 40)

In [1]:
a=(1,2,3)
b,c,d=a
print(b,c,d)

1 2 3

In [6]:
a=1
b=2
c=3
d=a,b,c
print(d)

(1, 2, 3)

In [8]:
a=1
b=1
import sys
print(sys.getrefcount(a))
print(sys.getrefcount(b))

2961
2962

In [2]:
a=int(input("enter number"))
for i in range (1,11):;print(a,'x',i,"=",a*i)

enter number2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [9]:
b=int(input("enter number"))
k=[k*b for k in range(1,11)]
print(k)

enter number2
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [10]:
x=5
print(~x)

-6

In [4]:
a=[1,2,32,4]
if 1 in a:
    print("yes")
else:
    print("no")
print(a)

yes
[1, 2, 32, 4]

In [8]:
a={
    "a":"1","b":"2","c":3
}
print(a)
for i in a.items():
    print(i)
for b in a.keys():
    print(b)
for c in a.values():
    print(c)

{'a': '1', 'b': '2', 'c': 3}
('a', '1')
('b', '2')
('c', 3)
a
b
c
1
2
3

In [11]:
a="pynative"
print(type(a))

<class 'str'>

In [13]:
a=23.4444444
print(a)

23.4444444

In [14]:
a="23.333333"
print(a)

23.333333

In [16]:
a=["23.4444"]
print(a)

['23.4444']

In [18]:
a={"23.444"}
print(a)

{'23.444'}

In [19]:
a=["banana","apple","cherry"]
print(a)

['banana', 'apple', 'cherry']

In [26]:
a=["banana","apple","cherry"]
print(a)
b=["sb","gg",2]
print(b)

['banana', 'apple', 'cherry']
['sb', 'gg', 2]

In [38]:
a=["kelly","jessa",20,37.75]
print(a)
del a[-1]
print(a)

['kelly', 'jessa', 20, 37.75]
['kelly', 'jessa', 20]

In [3]:
a=["kelly",1,2,3,4]
b=a
print(b)
print(a[0])
print(b[2])
b[1]="sam"
print(b)

['kelly', 1, 2, 3, 4]
kelly
2
['kelly', 'sam', 2, 3, 4]

In [8]:
a=(1,23,5,6)
a[2]=26
print(a)
a.append(2)
print(a)

TypeError: 'tuple' object does not support item assignment

In [6]:
a=(1,2,3,4,5,6)
print(a)
x=list(a)
x.append(8)

print(tuple(x))

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6, 8)

In [2]:
a={
    "a":"shsdh",
    "b":"jdfbhe",
    "c":222
}
print(a)
a["a"]="hb"
print(a)
a["a"]='hgvdhdc'
print(a)
x=a.get("d")
print(x)

{'a': 'shsdh', 'b': 'jdfbhe', 'c': 222}
{'a': 'hb', 'b': 'jdfbhe', 'c': 222}
{'a': 'hgvdhdc', 'b': 'jdfbhe', 'c': 222}
None

In [6]:
c={1,2,3,"emma"}
print(c)
c.add(122)
print(c)
c.remove('emma')
print(c)
c.discard(6)
print(c)
c.remove(7)
print(c)

{1, 2, 3, 'emma'}
{1, 2, 3, 122, 'emma'}
{1, 2, 3, 122}
{1, 2, 3, 122}

KeyError: 7

In [4]:
a=5
if a==6:
    print("right")
else:
    print("kehvbef")

kehvbef

In [13]:
odds={1,3,5,7,9}
even={0,2,4,6,8}
primes={2,3,5,7}
u=odds.union(even)
print(u)

v=even.union(odds)
print(v)

w=odds.intersection(primes)
print(w)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{3, 5, 7}

In [8]:
class x:
    b=10
p1=x
print(p1.b)

10

In [18]:
class Person:
    def __init__(self,name,profession):
        self.name=name
        self.profession=profession
    def show(self):
        print(self.name,self.profession)
    def work(self):
        print(self.name,self.profession)
obj=Person("sam","software")
obj.show()
obj.work()
p1=Person("dean","hunters")
p1.show()
p1.work()

sam software
sam software
dean hunters
dean hunters

In [11]:
# CLASS VARIABLES
class D:
    a="ABC SCHOOL"
    def __init__(self,name,age):
        self.name=name
        self.age=age
s1=D("sam",23)
# access instance variables 
print(s1.name)
print(s1.age)
# access class variables
print(s1.a)
#changing instance variables
s1.name="dean"
s1.age="25"
print(s1.age,s1.name)
#changing class variables 
s1.a="xyx school"
print(s1.a)

sam
23
ABC SCHOOL
25 dean
xyx school

In [2]:
###  Define and call an instance method and class method
class Student:
    #class variable
    a='ABC SCHOOL'
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def show(self):
        print(self.name,self.age,Student.a)
    def changeage(self,newage):
        self.age=newage
    @classmethod
    def modifyb(cls,b):
        cls.a=b
s1=Student("sam",34)
s1.show()
s1.changeage(14)
Student.a="xyz"
s1.show()

sam 34 ABC SCHOOL
sam 14 xyz

In [6]:
class A:
    def __init__(self):
        print("hbd")
        print("fhgvehvjh")
        
s1=A()

hbd
fhgvehvjh

In [12]:
class A:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def show(self, salary):
        self.salary=salary
        print(self.name,self.age,self.salary)
s1=A('sam',24)
s1.show(200000)

sam 24 200000

In [4]:
class Eployee:
    def __init__(self,name,age,projectname):
        self.name=name
        self.age=age
        self.projectname=projectname
    def show(self):
        print(self.name,self.age,self.projectname)
    @staticmethod
    def gather():
        print("jkehv")
s1=Eployee("sam","12","myprioject")
s1.gather()
s1.show()

jkehv
sam 12 myprioject

In [7]:
class Student:

    # constructor
    def __init__(self, name):
        print('Inside Constructor')
        self.name = name
        print('Object initialized')

    def show(self):
        print('Hello, my name is', self.name)

    # destructor
   # def __del__(self):
    ##   print('Object destroyed')

# create object
s1 = Student('Emma')
s1.show()

# delete object
del s1
s1.show()

Inside Constructor
Object initialized
Hello, my name is Emma

NameError: name 's1' is not defined

In [6]:
class A:
    x=10
s1=A()
b=s1.x
print(b)

10

In [2]:
a="helloworld"
print(a[5:-3:-2])

In [2]:
a=[1,2,3,4,5]
print(a[1:-4:-2])

[]

In [4]:
a={1,5,3,4}
a.add(5)
print(a)
a.remove(4)
print(a)

{1, 3, 4, 5}
{1, 3, 5}

In [6]:
class Vehicle:
    def veh(self):
        print('a')
class Car(Vehicle):
    def carr(self):
        print('b')
car=Car()
car.veh()
car.carr()

a
b

In [18]:
# MULTIPLE INHERITANCE
class Person:
    def pinfo(self,name,age):
        print('inside person class')
        print(name,age)
class Company:
    def cinfo(self,name,location):
        print('inside company class')
        print(name,location)
class Employee(Person,Company):
    def einfo(self,salary,skill):
        print('inside employee class')
        print(salary,skill)
s1=Employee()
s1.einfo(20000,'jjj')
s1.pinfo('sam','mumbai')
s1.cinfo('dean','cali')

inside employee class
20000 jjj
inside person class
sam mumbai
inside company class
dean cali

In [23]:
#MULTILEVEL INHERITANCE
class Vehicle:
    def vinfo(self):
        print('inside v class')
class Car(Vehicle):
    def cinfo(self):
        print('inside c class')
class Sportscar(Car):
    def sinfo(self):
        print('inside s class')
p1=Sportscar()
p1.sinfo()
p1.cinfo()
p1.vinfo()

inside s class
inside c class
inside v class

In [11]:
# generator
def square(x):
    for i in range(5):
        yield i*i


def test(x):
    for i in square(5):
        print(i+x)
test(10)

10
11
14
19
26

In [40]:
a=int(input(enter number))
b=int(input(enter number))
c=a/b
print(c)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (185521035.py, line 1)

In [9]:
#decorator
def main(func):
    def add(a,b):
        print("first")
        func(a,b)
    return add
@main
def sub(a,b):
    print(a-b)
sub(3,4)

first
-1

In [10]:
import mymodule
mymodule.greeting("jonathan")

ModuleNotFoundError: No module named 'mymodule'

In [3]:
a=[1,2,3]
a.clear
print(a)

[1, 2, 3]

In [10]:
def display_info(func):
    def  inner():
        print("executing,function")
        func()
        print("finish execution")
    return inner
@display_info
def printer():
    print("hello world")
printer()

executing,function
hello world
finish execution

In [9]:
def star(func):
    def inner(arg):
        print("*"*30)
        func(arg)
        print("*"*30)
    return inner
def percent(func):
    def inner(arg):
        print("k"*30)
        func(arg)
        print("l"*30)
    return inner
@star
@percent
def printer(msg):
    print(msg)
printer("i j k l")

******************************
kkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
i j k l
llllllllllllllllllllllllllllll
******************************

In [22]:
#x="hello worlf"
x={
    "abc":455,
    "kbc":105
}
if x[105] in x:
    print("yes ")
else:
    print("no")

KeyError: 105

In [23]:
student={"ali":{"score":91},
        "akbar":{"score":70},
        "bilal":{"score":81}}
#find the highest

In [1]:
x={
    "abc":455,
    "kbc":105
}
for i in x.values():
    if 105 in str():
        print("yes")
    else:
        print("no")

TypeError: 'in <string>' requires string as left operand, not int