In [3]:
a=('apple',)
print(type(a))

<class 'tuple'>

In [4]:
a=('apple','cherry','banana')
print(a)

('apple', 'cherry', 'banana')

In [8]:
a=(1,2,3,4,5)
x=a.insert()
print(x)

AttributeError: 'tuple' object has no attribute 'insert'

In [10]:
a=tuple(("apple","cherry","banana"))
print(a)

('apple', 'cherry', 'banana')

In [14]:
a=("apple","banana","cherry")
x=a[1]
print(x)

banana

In [7]:
a=("apple","banana","cherry","fig","anaar","mango")
print(a[-1])
print(a[-2])
print(a[-4:-2])
print(a[2:4])
print(a[4:])
print(a[:4])

mango
anaar
('cherry', 'fig')
('cherry', 'fig')
('anaar', 'mango')
('apple', 'banana', 'cherry', 'fig')

In [10]:
a=("apple","cherrry","hfdb","jhbv")
if "mango" in a:
    print("yes, mango is present")

In [43]:
a=("apple","cherry","banana")
x=list(a)
x[2,3,4]=["kiwi","anaar","mango"]
a=tuple(x)
print(a)

TypeError: list indices must be integers or slices, not tuple

In [15]:
def firstfunc():
    print("first")
    secondfunc()
def secondfunc():
    print("second")
    thirdfunc()
def thirdfunc():
    print("third")
firstfunc()

first
second
third

In [29]:
a=("apple",1,"cherry","banana")
x=list(a)
x.append("lollipop")
a=tuple(x)
print(a)

('apple', 1, 'cherry', 'banana', 'lollipop')

In [47]:
a=("apple","cherry","banana")
x=list("fig")
x.extend(a)
a=tuple(x)
print(a)

('f', 'i', 'g', 'apple', 'cherry', 'banana')

In [50]:
a=("apple","cherry","banana")
x=("fig",)
a+=x
print(a)

('apple', 'cherry', 'banana', 'fig')

In [53]:
a=(1,2,3,4,3,3,3,3,3,4,2,5,6,7)
x=a.count(3)
print(x)

6

In [55]:
a=(1,2,3,4,3,3,3,3,3,4,2,5,6,7)
x=a.index(7)
print(x)

13

In [60]:
a={"apple","cherry","banana"}
for x in a:
    print(x)

banana
cherry
apple

In [62]:
a={"apple","cherry","banana"}
print("cherry" in a)
print("mango" in a)

True
False

In [63]:
a={"apple","cherry","banana"}
a.add("mango")
print(a)

{'banana', 'cherry', 'apple', 'mango'}

In [66]:
a=["apple","cherry","banana"]
a.append("mango")
print(a)

['apple', 'cherry', 'banana', 'mango']

In [69]:
a={"apple","cherry","banana"}
b={"mango","fig","anar"}
a.update(b)
print(a)

{'banana', 'apple', 'mango', 'fig', 'cherry', 'anar'}

In [77]:
a={"apple","cherry","banana"}
a.remove("mango")
print(a)

KeyError: 'mango'

In [76]:
a={"apple","cherry","banana"}
a.discard("mango")
print(a)

{'banana', 'cherry', 'apple'}

In [84]:
a=["apple","cherry","banana"]
a.discard("cherry")
print(a)

AttributeError: 'list' object has no attribute 'discard'

In [91]:
a={"apple","cherry","banana"}
x=a.pop()
x=a.pop()
print(a)

{'apple'}

In [92]:
a={"apple","cherry","banana"}
a.clear()
print(a)

set()

In [93]:
a={"apple","cherry","banana"}
del a
print(a)

NameError: name 'a' is not defined

In [100]:
a={"apple","cherry","banana"}
b={1,2,3,4}
c.union(b)
print(c)

{'banana', 1, 'apple', 2, 3, 4, 'cherry'}

In [98]:
a={"apple","cherry","banana"}
b={1,2,3,4,5,6}
a.update(b)
print(a)

{'banana', 1, 'apple', 2, 3, 4, 5, 6, 'cherry'}

In [103]:
a={"apple","cherry","banana"}
y = {"google", "microsoft", "apple"}
a.intersection_update(y)
print(a)

{'apple'}

In [106]:
a={"apple","fig","cherry"}
b={"cherry","anaar","apple"}
c=a.intersection(b)
print(c)

{'cherry', 'apple'}

In [108]:
a={"apple","fig","cherry"}
b={"cherry","anaar","apple"}
a.symmetric_difference_update(b)
print(a)

{'fig', 'anaar'}

In [109]:
a={"apple","fig","cherry"}
b={"cherry","anaar","apple"}
a.symmetric_difference(b)
print(a)

{'cherry', 'apple', 'fig'}

Method	Description
add()	Adds an element to the set
clear()	Removes all the elements from the set
copy()	Returns a copy of the set
difference()	Returns a set containing the difference between two or more sets
difference_update()	Removes the items in this set that are also included in another, specified set
discard()	Remove the specified item
intersection()	Returns a set, that is the intersection of two other sets
intersection_update()	Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	Returns whether two sets have a intersection or not
issubset()	Returns whether another set contains this set or not
issuperset()	Returns whether this set contains another set or not
pop()	Removes an element from the set
remove()	Removes the specified element
symmetric_difference()	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	inserts the symmetric differences from this set and another
union()	Return a set containing the union of sets
update()	Update the set with the union of this set and others

ADVERTISEMENT

NEW
We just

In [113]:
a={"cherry","apple","mango"}
b={"fig","anaar"}
z=a.isdisjoint(b)
print(z)

True

In [2]:
a={"a","q","e",'r","t","y'""}
b={"q","r","t","f","h","b","a","e","y"}
c=a.issubset(b)
print(c)

False

In [5]:
a={"a","q","e","r","t","y"}
b={"q","r","t","f","h","b","a","e","y"}
c=a.issubset(b)
print(c)

True

In [7]:
a={
    "model":"mustang",
    "brand":"ford",
    "year":1940
}
a.clear()
print(a)

{}

In [8]:
a={
    "model":"mustang",
    "brand":"ford",
    "year":1940
}
a.copy()
print(a)

{'model': 'mustang', 'brand': 'ford', 'year': 1940}

In [9]:
x=("key1","key2","key3")
y=0
c=dict.fromkeys(x,y)
print(c)

{'key1': 0, 'key2': 0, 'key3': 0}

In [17]:
a={
    "model":"mustang",
    "brand":"ford",
    "year":1940
}
x=a.get("model")
a.items()
print(a)

{'model': 'mustang', 'brand': 'ford', 'year': 1940}

In [19]:
a={
    "model":"mustang",
    "brand":"ford",
    "year":1940
}
x=a.items()
print(x)

dict_items([('model', 'mustang'), ('brand', 'ford'), ('year', 1940)])

In [20]:
a={
    "model":"mustang",
    "brand":"ford",
    "year":1940
}
x=a.items()
a["year"]=2016
print(x)

dict_items([('model', 'mustang'), ('brand', 'ford'), ('year', 2016)])

In [21]:
a={
    "model":"mustang",
    "brand":"ford",
    "year":1940
}
x=a.keys()
print(x)

dict_keys(['model', 'brand', 'year'])

In [24]:
a={
    "model":"mustang",
    "brand":"ford",
    "year":1940
}
x=a.values()
print(x)

dict_values(['mustang', 'ford', 1940])

In [26]:
a={
    "model":"mustang",
    "brand":"ford",
    "year":1940
}
x=a.values()
a["color"]="red"
print(x)

dict_values(['mustang', 'ford', 1940, 'red'])

In [30]:
a={
    "model":"mustang",
    "brand":"ford",
    "year":1940
}
a.pop("model")
print(a)

{'brand': 'ford', 'year': 1940}

In [31]:
a={
    "model":"mustang",
    "brand":"ford",
    "year":1940
}
x=a.pop("model")
print(x)

mustang

In [32]:
a={
    "model":"mustang",
    "brand":"ford",
    "year":1940
}
a.popitem()
print(a)

{'model': 'mustang', 'brand': 'ford'}

In [33]:
a={
    "model":"mustang",
    "brand":"ford",
    "year":1940
}
x=a.popitem()
print(x)

('year', 1940)

In [40]:
a={
    "model":"mustang",
    "brand":"ford",
    "year":1940
}
x=a.setdefault("color","white")
print(x)

white

In [46]:
a=300
b=200
if a>b:
    print("a, is greater then b")
else:
    print("a, is less then b")

a, is greater then b

In [48]:
a=("my name is shahnawaz")
if "name" in a:
    print("yes name is there")
else:
    print("not exist")

yes name is there

In [51]:
a=4000
b=400
if b>a:
    print("b is greater than a")
elif a>b:
    print("a and b are equal")

a and b are equal

In [55]:
a=300
b=50
if b>a:
    print("dfhvbjbejhbe")
elif a>b:
    print('qqqqqqqqqqqqq')
else:
    print('tupac shakur')

qqqqqqqqqqqqq

In [56]:
a=5
b=40
print("wwwww") if a>b else print('ghvgyfgdv')

ghvgyfgdv

In [58]:
a=300
b=300
print("a") if a<b else print('fffffffff') if a==b else print("sghcvsjhfvu")

fffffffff

In [64]:
a=3
b=500
c=90
if a<b and c<a:
    print('REJHBVIBDFNKTRJ')

In [63]:
a=3
b=500
c=90
if a>b or c>a:
    print("erererererre")

erererererre

In [66]:
a=40
b=60
if a<b:
    pass

In [71]:
a="my name is ssss"
x=a.split()
print(x)

['my', 'name', 'is', 'ssss']

In [72]:
i=1
while i<6:
    print(i)
    i+=1

1
2
3
4
5

In [75]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9