# print function


print(a)
print(a[1])
print(find("h"))

In [16]:
a=()
b=[]
c={}
d={()}
print(type(a))
print(type(b))
print(type(c))
print(type(d))
e=""
print(type(e))
d=v

<class 'tuple'>
<class 'list'>
<class 'dict'>
<class 'set'>
<class 'str'>

In [20]:
a=("apple",)
print(type(a))

<class 'tuple'>

In [4]:
class A:
    def __init__(self,x,y,z):
        self.a=x+y+z
f=A(1,2,3)
y=getattr(x,'a')
setattr(x,'a',y+1)
print(f.a)

NameError: name 'x' is not defined

In [1]:
class A:
    def __init__(self,x,y,z):
        self.a=x+y+z
f=A(1,2,3)
y=getattr(f,'a')
setattr(f,'a',y+1)
print(f.a)

7

In [1]:
x=b"hello"
print(x)

b'hello'

In [15]:
a=
print(bool(a))

False

In [35]:
a="3"
b="2"
print(a is b)

False

In [17]:
a=("hello","world")
b=("sss","hhhh")
print(a is b)

False

In [2]:
a="hello","world"
b="sss","hhhh"
print(a is b)

False

In [40]:
# METHOD RESOLUTION ORDER
class A:
    def process(self):
        print(" In class A")

class B(A):
    def process(self):
        print(" In class B")

class C(B, A):
    def process(self):
        print(" In class C")

# Creating object of C class
C1 = C()
C1.process()
print(C.mro())

 In class C
[<class '__main__.C'>, <class '__main__.B'>, <class '__main__.A'>, <class 'object'>]

In [58]:
def khan():
    print("shame")
shaikh=khan()
del khan
print(shaikh)

shame
None

In [60]:
def ():
    print("a")

1

In [67]:
a=[2,5,6]
b=[3,6,7]
a=b=[0,1,2]
print((a is b),(a==b))

True True

In [1]:
def greet():
    print("a")
    print("b")
greet()
c=greet()
print(c)

a
b
a
b
None

In [22]:
def increment(no,by=4):
    return no + by
print(increment(2,6))
# print(e)

8

In [24]:
def multiply(*numbers):
    print(numbers)
multiply(2,3,4,5)

(2, 3, 4, 5)

In [33]:
def multiply(*numbers):
    total=1
    for number in numbers:
        total *= number
    return total

multiply(2,3,4,5)

120

In [39]:
def a(**user):
    print(user)
a(id=1, name="john",age=23)

{'id': 1, 'name': 'john', 'age': 23}

In [43]:
def a(**user):
    print(user["age"])
a(id=1, name="john",age=23)

23

In [54]:
a={
    "name":"sachin",
    "age":21

}
print(a)
print(a["name"])
print(a["age"])
print(a.keys())
print(a.values())
for i in a.keys():
    print(i)
for i in a.values():
    print(i)
for i in a.items():
    print(i)

{'name': 'sachin', 'age': 21}
sachin
21
dict_keys(['name', 'age'])
dict_values(['sachin', 21])
name
age
sachin
21
('name', 'sachin')
('age', 21)

In [11]:
#
a=[1,2,3,4]
b=a[::]
# b=a
b[1]=8
print(a)
print(b)

[1, 2, 3, 4]
[1, 8, 3, 4]

In [5]:
a=[[1,2,3],[2,3,4]]
b=a.copy.deepcopy()
b[0]=[2,3,4]
print(a)
print(b)

AttributeError: 'builtin_function_or_method' object has no attribute 'deepcopy'

In [3]:
a=[1,2,3]
b=a.copy()
print(a)
print(b)

[1, 2, 3]
[1, 2, 3]

In [4]:
a=[1,2,3,4]
b=a
b[1]=100
print(b,a)
# print(a)

[1, 100, 3, 4] [1, 100, 3, 4]

In [19]:
# shallow copy list
a=[1,2,3,4]
b=a.copy()
print(b,a)
# print(a)

[1, 2, 3, 4] [1, 2, 3, 4]

In [1]:
b[1]=1000
print(a,b)

NameError: name 'b' is not defined

In [9]:
#shallow copy nested list
c=[[1,2,3,4],[5,6,7,8]]
d=c.copy()
# print(c,d)
c[1][0]=100
print(d)
print(id(d))
print(id(c))

[[1, 2, 3, 4], [100, 6, 7, 8]]
1664422065984
1664422060096

In [11]:
a=[2,3,4,5]
b=a.copy()
print(a,b)
b[1]=100
print(a,b)
print(id(a))
print(id(b))

[2, 3, 4, 5] [2, 3, 4, 5]
[2, 3, 4, 5] [2, 100, 4, 5]
1664393410240
1664422064704

In [29]:
import copy 
a=[[11,22,33],[44,55,66]]
b=copy.copy(a)
print(a,b)
print(id(a))
print(id(b))

[[11, 22, 33], [44, 55, 66]] [[11, 22, 33], [44, 55, 66]]
1664422306496
1664422332224

In [16]:
import copy 
oldlist=[[2,1,3],[3,1,4]]
newlist=copy.copy(oldlist)
print(oldlist,newlist)
newlist.append([4,4,4])
print(oldlist)
print(newlist)
print(id(oldlist))
print(id(newlist))

[[2, 1, 3], [3, 1, 4]] [[2, 1, 3], [3, 1, 4]]
[[2, 1, 3], [3, 1, 4]]
[[2, 1, 3], [3, 1, 4], [4, 4, 4]]
1372831658880
1372831681664

In [15]:
# shallow copy
import copy 
oldlist=[[2,1,3],[3,1,4]]
newlist=copy.copy(oldlist)
print(oldlist,newlist)
newlist[1][1]="qqq"
print(oldlist)
print(newlist)
print(id(oldlist))
print(id(newlist))

[[2, 1, 3], [3, 1, 4]] [[2, 1, 3], [3, 1, 4]]
[[2, 1, 3], [3, 'qqq', 4]]
[[2, 1, 3], [3, 'qqq', 4]]
1372831658176
1372831602048

In [11]:
# deepcopy 
import copy

old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list = copy.deepcopy(old_list)

print("Old list:", old_list)
print("New list:", new_list)
# print(id(old_list))
# print(id(new_list))

Old list: [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
New list: [[1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [8]:
# deep copy adding 
import copy

old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list = copy.deepcopy(old_list)

old_list[1][0] = 'BB'

print("Old list:", old_list)
print("New list:", new_list)

Old list: [[1, 1, 1], ['BB', 2, 2], [3, 3, 3]]
New list: [[1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [3]:
# deepcopy append
import copy

old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list = copy.deepcopy(old_list)

new_list.append([3,4,5])

print("Old list:", old_list)
print("New list:", new_list)

Old list: [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
New list: [[1, 1, 1], [2, 2, 2], [3, 3, 3], [3, 4, 5]]

In [7]:
# in nested , shallow copy
import copy
a=[[1,2,3,4,5],[6,7,8,9,10]]
b=copy.copy(a)
b[1][2]=4
print(b)
print(a)

[[1, 2, 3, 4, 5], [6, 7, 4, 9, 10]]
[[1, 2, 3, 4, 5], [6, 7, 4, 9, 10]]

In [8]:
# deep copy in nested list
import copy
a=[[1,2,3,4,5],[6,7,8,9,10]]
b=copy.deepcopy(a)
b[1][2]=4
print(b)
print(a)

[[1, 2, 3, 4, 5], [6, 7, 4, 9, 10]]
[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]]

In [13]:
for i in range(1,100):
    if i%3==0 and i%5==0:
        print(i)

15
30
45
60
75
90

In [6]:
#odd numbers printing by list comprehension
a=[1,2,3,4,5,6,7,8,9,10]
a=[a for a in range(10) if a%2!=0]
print(a)

[1, 3, 5, 7, 9]

In [6]:
a=[1,1,2,3,4]
print(a[-3:-1])

[2, 3]

In [4]:
# dictionary comprehension example
square_dict = {num: num   for num in range(1, 11)}
print(square_dict)

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10}

In [2]:
#reverse a string
a=" my name is shahnawaz"
b=a.split()[::-1]
c=[]
for i in b:
    c.append(i)
print(" ".join(c))

shahnawaz is name my

In [11]:
#remove a character at position 3 in string
a="metaworld"
b=""
for i in range(len(a)):
    if i !=2:
        b=b+a[i]
print(b)

meaworld

In [17]:
#remove a character at position 3 in string
a="geeksforgeeks"
b=a.replace('k','',4)
print(b)
# print(a)

geesforgees

In [18]:
a="geeksforgeeks"
b=a[:2]+a[3:]
print(b)

geksforgeeks

In [20]:
b="metaworld"
c=''.join([b[i] for i in range(len(b)) if i!=2])
print(c)

meaworld

In [25]:
#len of string different ways
a="helloworldmm"
b=0
for i in a:
    b+=1
    print(b)

1
2
3
4
5
6
7
8
9
10
11
12

In [27]:
# Python code to demonstrate string length
# using reduce

import functools

def findLen(string):
 return functools.reduce(lambda x,y: x+1, string, 0)


# Driver Code
string = 'geekspe'
print(findLen(string))

7

In [33]:
#size of tuple
import sys
# a=["a","b","c","d"]
a=("a","b","c","d")
print(sys.getsizeof(a))

72

In [38]:
#size of tuple usiong inbuilt __sizeof__() method
d=("q","helloworld","my name is shahnawaz")
print((d.__sizeof__()))
# print(e)

48

In [39]:
#summation of tuple Using list() + sum() function
a=(1,2,3,4,5,6,7,8,9,10)
b=sum(list(a))
print(b)

55

In [44]:
# summation of a tuple byt for loop
a=(10,10,10,10)
b=0
for i in a:
    b+=i
print(b)

40

In [8]:
import calendar
x=calendar.TextCalendar()
print(x.pryear(2022))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31
None

In [1]:
# import turtle
# import colorsys
# t=turtle.Turtle()
# s=turtle.Screen()
# s.bgcolor("red")
# t.speed(0)
# n=36
# h=0
# for i in range(460):
#     c=colorsys.hsv_to_rgb(h,1,0.9)
#     h+=1/n
#     t.color(c)
#     t.left(145)
#     for j in range(5):
#         t.forward(300)
#         t.left(150)

In [2]:
#list of tuples having number and its cube in each tuple
a=[1,2,3,4,5]
b=[(val,pow(val,3)) for val in a]
print(b)
print(a)

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]
[1, 2, 3, 4, 5]

In [6]:
#list of tuples having number and its cube in each tuple
a=[1,2,3,4,5]
b=[(val,val**3) for val in a]
print(b)

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]

In [13]:
#sum of dictionary values.
def a(dict):
    list=[]
    for i in  dict:
        list.append(dict[i])
    final=sum(list)
    return final
b={'a':100,'b':200,'c':300}
print(a(b))

600

In [33]:
a={'a':100,'b':200,'c':300}
b=[]
for i in a:
    b.append(a[i])
    final=sum(b)
print(final)

600

In [62]:
#find the size of set
import sys
a={1,2,3,4,4}
print((sys.getsizeof(a)))

216

In [40]:
#find the size of set
import sys
a={1,2,3,4,4}
b=a.__sizeof__()
print(b)

200

In [41]:
import sys
a={'a':100,'b':200,'c':300}
print((sys.getsizeof(a)))

232

In [48]:
a={'a':100,'b':200,'c':300}
b=a.__sizeof__()
print(b)

216

In [1]:
#iterating in a set
a={'g','e','e','k','s'}
for i in a:
    print(i)

e
s
g
k

In [2]:
# maximum  in set by max()
a={8, 16, 24, 1, 25, 3, 10, 65, 55}
print(max(a))

65

In [5]:
# maximum in a set bt using set
def a(b):
    return (max(b))
b={11,22,333,44545,77777}
a(b)
print(a(b))

77777

In [5]:
lst=[2,7,5,8,1,6]
for i in lst:
    if i%2==0:
        print("even")
    elif i%2!=0:
        print("odd")
    else:
        print("error")

even
odd
odd
even
odd
even

In [3]:
lst=[2,7,5,8,1,6]
def add(lst):
    if lst%2==0:
        return 'even'
    else:
        return 'odd'
x=map(add,lst)
print(list(x))

['even', 'odd', 'odd', 'even', 'odd', 'even']

In [7]:
lst=[2,7,5,8,1,6]
if lst%2==0:
    return 'even'
else:
    return 'odd'
x=map(lst)
print(list(x))

SyntaxError: 'return' outside function (2259097376.py, line 3)

In [1]:
a={'a':1,'b':2}
b={'c':45,'d':33}
# c=a|b
print(a|b)

{'a': 1, 'b': 2, 'c': 45, 'd': 33}

In [1]:
a={1,2,"a",3,4}
b={5,6,7,8}
print(a|b)

{1, 2, 3, 4, 5, 6, 7, 'a', 8}

In [18]:
def A(b):
    if b%2==0:
        return "even"
    else:
        return "odd"
b=[1,2,3,4,5,6]
c=map(A,b)
print(list(c))

['odd', 'even', 'odd', 'even', 'odd', 'even']

In [28]:
def A(b):
    for i in b:
        if i%2==0:
            print("even")
        else:
            print("odd")
b=[1,2,3,4,5,6]
A(b)

odd
even
odd
even
odd
even

In [2]:

def A(*b):
    for i in b:
        if i%2==0:
            print("even")
        else:
            print("odd")
A(1,2,3,4,5)

odd
even
odd
even
odd

In [8]:
# yield keyword
def testgen(index):
    weekdays = ['sun','mon','tue','wed','thu','fri','sat']
    yield weekdays[index]
    yield weekdays[index+1]
day = testgen(0)
print( next(day), next(day))

sun mon

In [16]:
#convert a list into string .join() method
a=['1','2','3','4','5']
b=' '.join(a)
print(b)

1 2 3 4 5

In [10]:
weekdays = ['sun','mon','tue','wed','thu','fri','sat']
listAsString = ' '.join(weekdays)
print(listAsString)
print(type(listAsString))

sun mon tue wed thu fri sat
<class 'str'>

In [17]:
weekdays = ['sun','mon','tue','wed','thu','fri','sat']
b =tuple(weekdays)
print(b)

('sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat')

In [18]:
weekdays = ['sun','mon','tue','wed','thu','fri','sat']
b =set(weekdays)
print(b)

{'fri', 'sun', 'tue', 'wed', 'mon', 'thu', 'sat'}

In [20]:
# count element occur in a list
weekdays = ['sun','mon','tue','wed','thu','fri','sun','mon','mon']
print(weekdays.count('tue'))

1

In [6]:
a=["sun","mon","tue","sat"]
a=[[i,a.count(i)] for i in a]
print(a)

[['sun', 1], ['mon', 1], ['tue', 1], ['sat', 1]]

In [14]:
# What is the output of the below program?
names = [('Chris', 'Jack'),('John', 'Daman')]
print(names[0][1])

Jack

In [7]:
#enumerate 
a=[1,2,3,4,5]
for i in enumerate(a):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)

In [18]:
#enumerate 
a=("a","b","c","d","e")
for i in enumerate(a):
    print(i)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [23]:
print(sum(range(1,101)))

5050

In [4]:
names1 = ['Amir', 'Bear', 'Charlton', 'Daman']
names2 = names1
names3 = names1[:]

names2[0] = 'Alice'
names3[1] = 'Bob'

sum = 0
for ls in (names1, names2, names3):
    if ls[0] == 'Alice':
        sum += 1
    if ls[1] == 'Bob':
        sum += 10
print(sum)

12

In [35]:
a=[1,3,2]
print(a*2)

[1, 3, 2, 1, 3, 2]

In [38]:
a=("hello")
print(list(a))

['h', 'e', 'l', 'l', 'o']

In [4]:
#21) Can you write a program to find the average of numbers in a list in Python?
n=int(input("Enter the number of elements to be inserted: "))
a=[]
for i in range(0,n):
    elem=int(input("Enter element: "))
    a.append(elem)
    avg=sum(a)/n
    print("Average of elements in the list",round(avg,2))

Enter the number of elements to be inserted: 23
Enter element: 45
Average of elements in the list 1.96
Enter element: 88'

ValueError: invalid literal for int() with base 10: "88'"

In [12]:
n=int(input("Enter number: "))
rev=0
while(n>0):
    dig=n%10
    rev=rev*10+dig
    n=n//10
print("The reverse of the number:",rev)

Enter number: 143
The reverse of the number: 341

In [16]:
#23) Write a program to find the sum of the digits of a number in Python?
n=int(input("Enter a number:"))
tot=0
while(n>0):
    dig=n%10
    tot=tot+dig
    n=n//10
print("The total sum of digits is:",tot)

Enter a number:12345
The total sum of digits is: 15

In [17]:
#26) Write a Python Program to Print Table of a Given Number?
n=int(input("Enter the number to print the tables for:"))
for i in range(1,11):
    print(n,"x",i,"=",n*i)

Enter the number to print the tables for:7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [32]:
#27) Write a Python Program to Check if a Number is a Prime Number?
a=int(input("Enter number: "))
k=0
for i in range(2,a//2+1):
    if(a%i==0):
        k=k+1
        if(k<=0):
            print("Number is prime")
        else:
            print("Number isn't prime")

Enter number: 111
Number isn't prime
Number isn't prime

In [5]:
import json 
q=[{'a':'123'},
  {'b':'147'}]
x=json.dumps(q)
print(x)
print(type(x))
# print(type(q))

[{"a": "123"}, {"b": "147"}]
<class 'str'>

In [2]:
import json 
q='[{"a":"123","b":"147"}]'
x=json.loads(q)
print(x)
# print(type(x))

print(type(q))

[{'a': '123', 'b': '147'}]
<class 'str'>

In [9]:
from jsonify import convert.jsonify."q"
q={"a":"123","b":"147"}
print(q.jsonify())

SyntaxError: invalid syntax (1821277409.py, line 1)

In [2]:
from jsonify import convert
convert.jsonify('new.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'new.csv'

In [1]:
student = {
  "Umar": {
    "score": 67
  },
  "Talha": {
    "score": 78
  },
  "Shadab": {
    "score": 17
  } 
}
print((student["Talha"]))

{'score': 78}

In [10]:
class Student:
    def __init__(self,a,b):
        self.__a=a
        self.b=b

    def show(self):
        print(self.__a,self.b)

    def getter(self):
        return self.__a

    def setter(self,a):
        self.__a=a
        print(self.__a)
    
  
obj=Student("sam","dean")
obj.show()
obj.setter("shbd")
obj.getter()
obj.show()

sam dean
shbd
shbd dean

In [1]:
a=[11,12,13,5,6]
for i in range(1,len(a)):
    while a[i-1]>a[i] and i>0:
        a[i-1],a[i]=a[i],a[i-1]
        i=i-1
        print("updated",a)

updated [11, 12, 5, 13, 6]
updated [11, 5, 12, 13, 6]
updated [5, 11, 12, 13, 6]
updated [5, 11, 12, 6, 13]
updated [5, 11, 6, 12, 13]
updated [5, 6, 11, 12, 13]

In [1]:
#23) Write a program to find the sum of the digits of a number in Python?
n=int(input("Enter a number:"))
tot=0
while(n>0):
    dig=n%10
    tot=tot+dig
    n=n//10
print("The total sum of digits is:",tot)

Enter a number:111
The total sum of digits is: 3

In [1]:
n=int(input("enter the number"))
sum=0
while n>0:
    dig=n%10
    sum=sum + dig
    n=n//10
print("sum of digits", sum)

enter the number111
sum of digits 3

In [6]:
a=[4,6,1,2,5,3,9,8]
n=len(a)
for i in range(0,6,2):
    if (i+1)< len(a):
        a[i],a[i+1]=a[i+1],a[i]
print(a)

[6, 4, 2, 1, 3, 5, 9, 8]

In [11]:
a=[1,2,3,4,5,6]
for i in range(0,6,2):
    if (i+1)<len(a):  
        a[i],a[i+1]=a[i+1],a[i]
print(a)

[2, 1, 4, 3, 6, 5]

In [8]:
a=[]
a.append(1)
a.append(2)
print(a)
# print(b)

[1, 2]

In [8]:
class Student:
    a={"a":1,
      "b":2,
      "c":3}
    for i in a.items():
        if i =="b":
            break
        print(i)
obj=Student()

('a', 1)
('b', 2)
('c', 3)

In [3]:
class A:
    def __init__(self,a,b):
        self.a=a
        self._b=b
        
    def show(self):
        print(self.a,self._b)
        
        
    def gett(self):
        return(self._b)
    
    def sett(self,b):
        self._b=b
obj=A("sam","dean")
obj.show()
obj.sett("ccccc")
# obj.gett()
obj.show()

sam dean
sam ccccc

In [2]:
#print unique number in alist
def a(list1):
    b=[]
    for i in list1:
        if i not in b:
            b.append(i)
    for i in b:
        print(i)
list1=[2,1,4,3,1,4,2]
print("l1")
a(list1)

l1
2
1
4
3

In [28]:
class Company:
    def company_name(self):
        return 'Google'

class Employee(Company):
    def info(self):
        # Calling the superclass method using super()function
        c_name = super().company_name()
        print("Jessa works at", c_name)

# Creating object of child class
emp = Employee()
emp.info()

Jessa works at Google

In [3]:
class A:
    def info(self):
        print("hello")
        
class B(A):
    def info(self):
        b=super().info()
        print("baa")
        

obj=B()
obj.info()

hello
baa

# Find the student who has Highest marks ?

In [6]:
student = [{"Umar":{"score": 67}, "Talha":{"score": 78}, "Shadab":{"score": 17}}]
a=0
b=''#
for i in student:
    score=student.get(i)["score"]
#     print(score)
    if score>a:##
        a=score
        b=i
print(list({b:a}))

AttributeError: 'list' object has no attribute 'get'

# 6. Create a iterator to find all the Power of 3?

In [3]:
def cube(a):
    for i in a:
        a=i**3
        b.append(a)
#     c=iter(b)
    print(next(c))
    print(next(c))
    print(next(c))
a=[1,2,5,6]
b=[]
cube(a)
c=iter(b)
# print(next(c))
# print(next(c))
# print(next(c))
# print(next(c))

1
8
125

# 10. Find the even and odd from the given list using anonymous function

In [15]:
a=[1,2,3,4,5]
b=[(lambda x: "even" if x%2==0 else "odd") (x) for x in a]
print(b)

['odd', 'even', 'odd', 'even', 'odd']

In [7]:
# find unique number 
a=[2,1,4,3,2,1,4,5,5]
r=0
for i in a:
    r^=i
print(r)

3

# 8. Convert a local variable into global variable and give the methods to access the same

In [17]:
# y="hello"
def func():
    global x
    x="blue"
#     print("sky is ",x)
func()
print("sky is",x)

sky is blue

# Sort the list on the basis of second element in the tuple ?

In [9]:
a= [("zoo", "peanuts"),(1, 'groot'), ("teams","ml"),('dell', 'ipad'), ('water', 'case'), (56,"apple")]
a.sort(key=lambda x:x[1])
print(a)

[(56, 'apple'), ('water', 'case'), (1, 'groot'), ('dell', 'ipad'), ('teams', 'ml'), ('zoo', 'peanuts')]

# How to change the behaviour of a function without modifying it ?

In [8]:
a="banana"
b=list(a)
b.append("u")
print(b)
# print(a)
print(b)
print(a)

['b', 'a', 'n', 'a', 'n', 'a', 'u']
['b', 'a', 'n', 'a', 'n', 'a', 'u']
banana

In [15]:
c=("banana")
print(c)
d=list(c)
print(d)
d.append("ee")
print(d)
print(c)

banana
['b', 'a', 'n', 'a', 'n', 'a']
['b', 'a', 'n', 'a', 'n', 'a', 'ee']
banana

In [11]:
a={i:i for i in range (1,12,2)}
print(a)

{1: 1, 3: 3, 5: 5, 7: 7, 9: 9, 11: 11}

In [25]:
for i in range(0,10,2):
    print(i,'odd')

0 odd
2 odd
4 odd
6 odd
8 odd

In [35]:
a=[1,22,3,444]
c=0
for i in a:
    if i>c:
        c=i
print(c)

444

In [2]:
class A:
    def __init__(self,a):
        self.a=a
        
    def show(a):
        a=[1,2,444]
        c=0
        for i in a:
            if i>c:
                c=i
        return c
# a=['a','bb','ccc']
# c=0
obj=A('a')
R=obj.show()
print(R)
# obj.show()
# d=iter(c)
# print(next(d))

444

In [7]:
a="5"
b="10"
a,b=b,a
print(a)
print(b)

10
5

[]

In [13]:
nums=[0,2,1,5,3,4]
# class Solution(object):
def buildArray(nums):
    ans=[]
    for i in range(len(nums)):
        value=nums[nums[i]]
        ans.append(value)
    return ans
r=buildArray(nums)
print(r)

[0, 1, 2, 4, 5, 3]

In [17]:
accounts = [[1,2,3],[3,2,1]]
sum=0
for i in accounts:
    sum=i
    print(i)

[1, 2, 3]
[3, 2, 1]

In [3]:
accounts = [[1,2,3],[3,2,1]]
a=map(sum,accounts)
print(list(a))

[6, 6]

In [13]:
nums = [1,2,1]
for i in nums:
    pass
print(nums*3)

[1, 2, 1, 1, 2, 1, 1, 2, 1]

In [1]:

nums = [1,1,1,1]
for i in range(1,4):
     nums[i]+=nums[i-1]
print(nums)

[1, 2, 3, 4]

In [9]:
a=[1,2,3,4]
def fun(a):
    d=[]
    for i in a:
        b=i**i
#         print(b)
        d.append(b)
    return d
fun(a)

[1, 4, 27, 256]

In [96]:
# nums=[1,1,1,1,1]
# def runningSum(nums):
#     return [sum(nums[:i+1]) for i in range(len(nums))]
# # runningSum(nums)

[1, 2, 3, 4, 5]

# shuffle a array

In [1]:
nums=[1,1,2,2]
n=2
a=[]
for i in range(n):
    a.append(nums[i])
    a.append(nums[i+n])
print(a)

[1, 2, 1, 2]

In [5]:
a=[1,2,3,4,5]
for i in range(1,5):
    a[i]+=a[i-1]
    x=a[-1]
print(x)

15

In [9]:
#sort without inbuilt fucntion and method
d=[1,10,7,15,3]
a=[]
while d:
    mins=d[0]
    for i in d:
        if i<mins:
            mins=i
    a.append(mins)
    d.remove(mins)
print(a)

[1, 3, 7, 10, 15]

In [2]:
data_list = [-5, -23, 5, 0, 23, -6, 23, 67]
new_list = []

while data_list:
    minimum = data_list[0]  # arbitrary number in list 
    for x in data_list: 
        if x < minimum:
            minimum = x
    new_list.append(minimum)
    data_list.remove(minimum)    

print (new_list)

[-23, -6, -5, 0, 5, 23, 23, 67]