# Set
- Sets are used to store multiple items in a single variable.

- Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

- A set is a collection which is unordered, unchangeable*, and unindexed.

In [3]:
a={"apple","banana","cherry"}
print(a)

{'cherry', 'apple', 'banana'}

# duplicates are not allowed

In [4]:
b ={"apple","cherry","pineapple","apple"}
print(b)

{'cherry', 'apple', 'pineapple'}

# length of a set

In [5]:
c={"cherry","apple","banana","cherry"}
print(len(c))

3

# Set Items - Data Types
- Set items can be of any data type:

In [6]:
a={"apple","cherry","fig"}
b={1,3,5,6,8,8}
c={True,True,False}
print(a)
print(b)
print(c)

{'cherry', 'apple', 'fig'}
{1, 3, 5, 6, 8}
{False, True}

# A set can contain different data types:

In [7]:
set={"abc", 345, True ,40,"kiwi" }
print(set)

{True, 40, 345, 'abc', 'kiwi'}

In [9]:
a={'cheery'}
b={1,2,3,4}
print(type(a))
print(type(b))

<class 'set'>
<class 'set'>

# The set() Constructor
- It is also possible to use the set() constructor to make a set.

In [3]:
thisset = set("cherry","fig","banana")
print(thisset)

TypeError: set expected at most 1 argument, got 3

In [2]:
thisset = set(("apple", "banana", "cherry"))
print(thisset)

{'cherry', 'banana', 'apple'}

# Access Items
- But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [4]:
a={"cherry","apple","banana"}
for x in a:
    print(x)

cherry
banana
apple

In [2]:
thiset={"banana","cherry","fig"}
print("banana" in thiset)
print("apple" in thiset)

True
False

# change items
- Once a set is created, you cannot change its items, but you can add new items.

# add items
- To add one item to a set use the add() method.

a={"hgduche","bdvc","jhebdjhe"}
a.add("qqqqqqq")
print(a)

# add sets
- update method()

In [22]:
a={"apple","banana","cherry"}
b={"pineapple","fig","kiwi"}
b.update(a)
print(b)

{'fig', 'pineapple', 'banana', 'apple', 'kiwi', 'cherry'}

# Add Any Iterable

In [23]:
a={"apple","banana","cherry"}
b=["kiwi","fig","anar"]
a.update(b)
print(a)

{'fig', 'apple', 'kiwi', 'banana', 'anar', 'cherry'}

# Remove Item
- use the remove() method or thr discard() method

In [24]:
a={"apple","banana","cherry"}
a.remove("banana")
print(a)

{'apple', 'cherry'}

In [25]:
# discard method 
a={"apple","banana","cherry"}
a.discard("cherry")
print(a)

{'banana', 'apple'}

# pop method 
- pop() method to remove an item, but this method will remove the last item.

In [26]:
a={"cherry","banana","anaar"}
x= a.pop()
print(x)

banana


# clear() method
- The clear() method empties the set:

In [27]:
a={"cherry","apple","kiwi"}
a.clear()
print(a)

set()

# The del keyword will delete the set completely:
- this will raise an error because set no longer exists

In [28]:
a={"apple","kiwi","anaar"}
a del()
print(a)

SyntaxError: invalid syntax (2052045746.py, line 2)

# Loop Items
- You can loop through the set items by using a for loop:

In [29]:
a={"apple","kiwi","mango"}
for  x in a:
    print(x)

mango
apple
kiwi

In [30]:
Loop Items
You can loop through the set items by using a for loop:

SyntaxError: invalid syntax (21395174.py, line 1)

In [31]:
a={"apple","kiwi","orange"}
b={"fig","mango","anaar"}
c=a.union(b)
print(c)

{'fig', 'apple', 'kiwi', 'mango', 'orange', 'anaar'}

# sets methods

In [ ]:
Method	Description
add()	Adds an element to the set

clear()	Removes all the elements from the set

copy()	Returns a copy of the set

difference()	Returns a set containing the difference between two or more sets

difference_update()	Removes the items in this set that are also included in another, specified set

discard()	Remove the specified item

intersection()	Returns a set, that is the intersection of two other sets

intersection_update()	Removes the items in this set that are not present in other, specified set(s)

isdisjoint()	Returns whether two sets have a intersection or not

issubset()	Returns whether another set contains this set or not

issuperset()	Returns whether this set contains another set or not

pop()	Removes an element from the set

remove()	Removes the specified element

symmetric_difference()	Returns a set with the symmetric differences of two sets

symmetric_difference_update()	inserts the symmetric differences from this set and another

union()	Return a set containing the union of sets

update()	Update the set with the union of this set and others