#      STRING to find  a len() of a string

In [21]:
a=("hello,world")
print(len(a))

11

# integer doesnt have any length function

In [19]:
a = ("1,2,34,")
b = (1,2,3,4)
c = 2
print(len(a))
print(len(b))
print(len(c))

7
4

TypeError: object of type 'int' has no len()

# check string 
### check if certain phrase or character is present in a string we can use a keyword in

In [25]:
txt=("air is free in this world")
print("free" in txt)
print("is" in txt)
print("quality" in txt)

True
True
False

# CHECK IF NOT
#### to check if certain phrase or character is NOT present in a follow text

In [27]:
txt=("my name is unknown")
print("my" not in txt)
print("khan" not in txt)

False
True

# SLICING
### to return a range of characters by using the slice syntax

In [34]:
b =("hello")
a=("graphics")
print(a[0:3])
print(b[2:5])

gra
llo

# negative indexing
### we use negative indexes to start from the end of the string
### it starts from right to left

In [41]:
a =("helloworld!")
print(a[-4:-2])

rl

# modify strings
- upper case with upper case method 
- output comes in all capital letters

In [42]:
a =("hello worl!")
print(a.upper())

HELLO WORL!

In [48]:
a ="Ma'am I am String"
print(a)

Ma'am I am String

# lower case returns the string in lower case

In [52]:
a="hello world "
print(a.lower())

hello world

# to remove whitespace from a string
- strip method whitespace from beginning or the end

In [62]:
a="         helloworld"
print(a.strip())

helloworld

# replace a string by replace() method
- replaces a string with another string

In [65]:
b="my name is yusuf"
print(b.replace('my','his'))

his name is yusuf

# split spring 
- split() method splits the string into substrings if it finds instances of the separator

In [70]:
c ="helloworld"
print(c.split(","))

['helloworld']

In [73]:
 a = "hello , world"
print(a.split(","))

['hello ', ' world']

In [75]:
d="my name is, shahnawaz"
print(d.split(","))

['my name is', ' shahnawaz']

# string concatenation
- to combine or to link something string you can use the +operator

In [79]:
a="hello"
b="world"
c=a+b
print(c)

helloworld

# to add a space between the string

In [83]:
a="hello"
b="world"
c=a+"     "+b
print(c)

hello     world

# string format 
- combine strings and numbers by using the format() method

In [84]:
age=36
txt="my name is john,and i am {}"
print(txt.format(age))

my name is john,and i am 36

In [1]:
print(1)

1