 # to create a tuple

In [5]:
a=("hello", "world")
print(a)

('hello', 'world')

# tuple() length
- to determine how many items a tuple has, use the len() function

In [6]:
thistuple=("apple","banana","cherry")
print(len(thistuple))

3

 # to create a tuple with one item
 - remember comma after the item

In [2]:
a =("apple",)
print(type(a))

<class 'tuple'>

# tuples data types can be of any data types, string ,int and boolean types

In [5]:
tuple1=("apple", "banana","cherry")
tuple2=(1,2,3,45)
tuple3=(True, False , True)
print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 2, 3, 45)
(True, False, True)

# a tuple can contain different data types 
- tuple with strings integers and boolean value

In [8]:
tuple1=("abc", 34, True,40,"male")
print(tuple1)

('abc', 34, True, 40, 'male')

# type() , < class 'tuple>

In [9]:
mytuple=("apple", "banana","cherry")
print(type(mytuple))

<class 'tuple'>

# tuple constructor 
- possible to make a tuple constructor to make a tuple 
- using the tuple method to make a tuple

In [10]:
thistuple=tuple(("apple","banana","cherry"))
print(thistuple)

('apple', 'banana', 'cherry')

# negative indexing means start from the end
-   -1 refers to the last item, -2 refers to the last item

In [13]:
a =("apple","banana","cherry")
print(a[1])
print(a[-1])
print(a[-2])

banana
cherry
banana

# Range of Indexes
- You can specify a range of indexes by specifying where to start and where to end the range.

 - When specifying a range, the return value will be a new tuple with the specified items.

In [18]:
a = ("apple", "banana", "cherry", "kiwi", "fig", "pine")
print(a[2:4])
print(a[2:5])
print(a[2:])
print(a[:2])

('cherry', 'kiwi')
('cherry', 'kiwi', 'fig')
('cherry', 'kiwi', 'fig', 'pine')
('apple', 'banana')

# Range of Negative Indexes
- Specify negative indexes if you want to start the search from the end of the tuple:
- This example returns the items from index -4 (included) to index -1 (excluded)

In [19]:
a =("apple", "banana", "cherry", "kiwi", "fig", "pine")
print(a[-5:-2])

('banana', 'cherry', 'kiwi')

# Check if Item Exists
- To determine if a specified item is present in a tuple use the in keyword:

In [24]:
a =("apple", "banana", "cherry")
if "fig" in a:
    print("yes, 'fig' is in  a")
if "apple" in a:
    print("yes,'apple' is in a")

yes,'apple' is in a

# Change Tuple Values
- Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

 - But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [27]:
x=("apple", "cherry", "banana")
y =list(x)
y[1]="kiwi"
x =tuple(y)
print(x)

('apple', 'kiwi', 'banana')

# Add Items
- Since tuples are immutable, they do not have a build-in append() method, but there are other ways to add items to a tuple.

1. Convert into a list: Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

In [30]:
a =("apple","bnana","cherry")
y=list(a)
y.append("orange")
a=tuple(y)
print(a)

('apple', 'bnana', 'cherry', 'orange')

#  Add tuple to a tuple
- You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

In [31]:
a= ("apple","banana","cherry")
y=("orange",)
a+=y
print(a)

('apple', 'banana', 'cherry', 'orange')

# Remove Items
- Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items:

In [32]:
a=("apple","banana","cherry")
y = list(a)
y.remove("apple")
a=tuple(y)
print(a)

('banana', 'cherry')

# Or you can delete the tuple completely:
- The del keyword can delete the tuple completely:

In [33]:
a=("aplle","cherry","banana")
del a
print(a)

NameError: name 'a' is not defined

# Python - Unpack Tuples
- When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

In [34]:
fruits=("apple", "banana","cherry")
print(fruits)

('apple', 'banana', 'cherry')

# But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

In [35]:
a =("apple","cherry","banana")
(green,yellow,red)=a
print(green)
print(yellow)
print(red)

apple
cherry
banana

# Using Asterisk*
- If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

In [36]:
fruits=("apple","banana","cherry","fig","orange")
(green,yellow,*white)=fruits
print(green)
print(yellow)
print(white)

apple
banana
['cherry', 'fig', 'orange']

# Loop Through a Tuple
- You can loop through the tuple items by using a for loop.

In [37]:
a=("apple","banana","cherry")
for b in a:
    print(b)

apple
banana
cherry

# Loop Through the Index Numbers
- You can also loop through the tuple items by referring to their index number.

 - Use the range() and len() functions to create a suitable iterable.

In [38]:
a =("apple","banana","cherry")
for i in range(len(a)):
    print(a[i])

apple
banana
cherry

# Using a While Loop
- ou can loop through the list items by using a while loop.

 - Use the len() function to determine the length of the tuple, then start at 0 and loop your way through the tuple items by refering to their indexes.

 - Remember to increase the index by 1 after each iteration.

In [5]:
a=("apple","banana","cherry")
i=0
while i<len(a):
    print(a[i])
    i=i+1

apple
banana
cherry

# Join Two Tuples
- To join two or more tuples you can use the + operator:

In [6]:
a=("apple","banana","fig")
b=(2,3,5,7,7,)
c=a+b
print(c)

('apple', 'banana', 'fig', 2, 3, 5, 7, 7)

# Multiply Tuples
- If you want to multiply the content of a tuple a given number of times, you can use the * operator:

In [10]:
a=("apple","banana","cherry")
c=a*2
print(c)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [6]:
a={()}
print(type(a))

<class 'set'>