In [1]:
print("hello")

hello

In [3]:
x=("hello")
print(x)

hello

In [6]:
x=("hello world")
print("x")
print(x)

x
hello world

In [14]:
x=("hello world")
y= 1
z= 2.5
print(type(x))
print(type(y))
print(type(z))
print(x)
print(y)
print(z)

<class 'str'>
<class 'int'>
<class 'float'>
hello world
1
2.5

In [18]:
# variables names are case sensitive not all X and x are same and overwrite
X=(" world")
x=(" WORLD")
print(x)
print(x)
print(xy)
print(X)

 WORLD
 WORLD
 world
 world

In [20]:
#legal variables
_x = "john"
print(_x)

john

In [21]:
# legal variables name
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

In [22]:
#illegal variables  will give you an error 
2myvar = "John"
my-var = "John"
my var = "John"
print(2myvar)
print(my-var)
print(my var)

SyntaxError: invalid decimal literal (1357607838.py, line 2)

In [25]:
# multiple values to variables
x,y,z = "mango", "aple", "orange"
print(x)
print(x,y,z)
print(x)
print(y)
print(z)

mango
mango aple orange
mango
aple
orange

In [30]:
# one value to multiple variables
x=y=z=e="vinegar"
print(x)
print(x,y,z,e)
print(y)

vinegar
vinegar vinegar vinegar vinegar
vinegar

#to unpack a list 
fruits  = ["apple", "banana", 'chiku']
print(fruits)
x,y,z= fruits
print(x,y,z)
print(x)
print(y)
print(z)


###### shahnawaz global variable

x = "my name is khan"
def myfunc():
    print("sohel" + x)
    
myfunc()

#### global variable with same name

In [42]:
x = "apple"
def myfunc():
    x = "mango"
    print("banana" , x)
    print("banana",x)
    
myfunc()

banana mango
banana mango

##global keyword

###global keyword

In [8]:
x= "awesome"

def myfunc():
    global x
    x = "fantastic"
    
myfunc()

print("pyhton is" + x)

pyhton isfantastic

####strings are arrays get the character at position one

In [9]:
a= "hello world"
print(a[1])

e

#for loop through the letters

In [12]:
for x in "banana":
    print(x
        )

b
a
n
a
n
a

# for loop in a variable

In [19]:
x = "banana"
for y in x:
    print(y)

b
a
n
a
n
a

# for check the length of a string

In [21]:
a = "hello"
 print(len(a))

5

# to check the certain phrases in a string with in keyword

In [23]:
txt = "my name is khan"
print("khan" in txt)
print("no" in txt)

True
False

# to check the certain phrases in a string with if keyword

In [27]:
txt = "check the desk"
if "check" in txt:
    print("yes, 'the' is present")

yes, 'the' is present

# to check string with not in keyword

In [29]:
txt = "to check the string "
print("right" not in txt)
print("expensive" not in txt)

True
True

# to check strring with if not keyword

In [30]:
txt = "to check the string"
if "expensive" not in txt:
    print("no, 'expensive' is not present")

no, 'expensive' is not present

 # to check the index

In [6]:
b= ("hell oworld")
print(b[:5])
print(b[:8])

hell
hell owo

# to check the negative index

In [8]:
x = (" shahnawaz ")
print(x[-5:-2])

awa

# to modify string in upper case by upper() method

In [9]:
a = "shahnawaz"
print(a.upper())

SHAHNAWAZ

# to modify the string in lower case by  lower() method

In [11]:
b = "my name is khan"
print(b.lower())

my name is khan

# to remove any whitespace from any string

In [3]:
a= "    hello, world"
print(a.strip())

hello, world

# to replace replaces a string with another string

In [18]:
x = ("hello world")
print(x.replace("h", "j"))

jello world

# to split a string split() method split the string into substrings

In [19]:
b = "hello world"
print(a.split(","))

['    hello      world']

# to concatenate or combine , use + operator

In [24]:
a = "hello"
b = "mehtab"
c = a+b
print(c)

hellomehtab

# to add a space between them

In [27]:
a= "hello"
b="world"
c= a +"  "+b
print(c)

hello  world

# use the format method to INSERT numbers into strings

In [30]:
age = 36
txt = "my name is john, and  i am {}"
print(txt.format(age))

my name is john, and  i am 36

In [5]:
a = 5
b = 8
print(a & b)
print( b and a)
print(~a)
print(~b)

0
5
-6
-9

In [6]:
a = 7
print(~a)

-8

# to create a list

In [7]:
mylist=["apple", "banana", "cherrty"]
print(mylist)

['apple', 'banana', 'cherrty']

## to find length of a list

In [1]:
list1 = ["banana", "apple", "fig"]
list2 = [1,3,5,8,9]
list3 = [True,False,False]
print(list2)
print(list3)
print(list1)
print(len(list1))

[1, 3, 5, 8, 9]
[True, False, False]
['banana', 'apple', 'fig']
3

# a list can contain different data types

In [16]:
list1 = ["abd", "333", True, 40, "shahnawaz"]
print(list)
print(list1)

<class 'list'>
['abd', '333', True, 40, 'shahnawaz']

# data type of a list

In [20]:
 mylist = ['hbd', 'cherry',]
print(type(mylist))

<class 'list'>

# range of index

In [9]:
mylist = ["apple", "banana", "fig", "anaar", "mango", "kiwi"]
print(mylist[2:4])
print(mylist[1:4])
print(mylist[2:5])
print(mylist[:2])
print(mylist[:3])
print(mylist[3:])
print(mylist[2:])

['fig', 'anaar']
['banana', 'fig', 'anaar']
['fig', 'anaar', 'mango']
['apple', 'banana']
['apple', 'banana', 'fig']
['anaar', 'mango', 'kiwi']
['fig', 'anaar', 'mango', 'kiwi']

# to check negative index

In [10]:
mylist =["apple", "fig", "anaar", "mango","kiwi", "orange"]
print(mylist[-4:-1])

['anaar', 'mango', 'kiwi']

# check if item exist

In [13]:
mylist = ["apple", "banana", "fig"]
if "apple" in mylist:
    print("yes, 'apple' is in the fruits list")
if "mango" in mylist:
    print("yes, 'mango' is in the fruits list")

yes, 'apple' is in the fruits list

# to change item in a list

In [16]:
mylist=["apple", "banana", "fig"]
mylist[1:2] = ["black currant", "anaar"]
print(mylist)

['apple', 'black currant', 'anaar', 'fig']

# to add an item to the list

In [21]:
mylist =["apple", "banana", "cherry"]
mylist.append("orange")

In [4]:
mylist =["apple", "banana", "cherry"]
mylist.append("orange")

In [25]:
mylist =["orange", "banana", "cherry"]
mylist.append("pineapple")
print(mylist)

['orange', 'banana', 'cherry', 'pineapple']

# to insert an item to the list

In [26]:
mylist=["apple", "banana", "cherry"]
mylist.insert(1, "pineapple")
print(mylist)

['apple', 'pineapple', 'banana', 'cherry']

In [27]:
mylist=["apple", "banans", "cherry"]
mylist.insert(2, "fig")
print(mylist)

['apple', 'banans', 'fig', 'cherry']

# to extend a list

In [28]:
mylist=["apple", "banana", "cherry"]
tropical=["mango", "fig", "orange"]
mylist.extend(tropical)
print(mylist)

['apple', 'banana', 'cherry', 'mango', 'fig', 'orange']

In [30]:
mylist=["apple", "banana", "cherry"]
tropical=["mango", "fig", "orange"]
tropical.extend(mylist)
print(tropical)

['mango', 'fig', 'orange', 'apple', 'banana', 'cherry']

# add any iterable object

In [31]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

# remove list items
- The remove() method removes the specified item.

In [2]:
a=["apple","banana","cherry"]
a.remove("banana")
print(a)

['apple', 'cherry']

# Remove Specified Index
- The pop() method removes the specified index.

- If you do not specify the index, the pop() method removes the last item.

In [5]:
a=["apple","banana","cherry"]
a.pop(2)
print(a)

['apple', 'banana']

In [6]:
a=["apple","banana","cherry"]
a.pop()
print(a)

['apple', 'banana']

# The del keyword also removes the specified index:

- The del keyword can also delete the list completely."

In [7]:
a=["banana","cherry","mango"]
del a[1]
print(a)

['banana', 'mango']

In [9]:
 a=["apple","fig","orange
    del (2)

SyntaxError: unterminated string literal (detected at line 1) (3781100691.py, line 1)

# Clear the List
- The clear() method empties the list.

The list still remains, but it has no content.

In [8]:
a=["apple","banana"]
a.clear()
print(a)

[]

# Loop Through a List
- You can loop through the list items by using a for loop:

In [9]:
a=["apple","banana","cherry"]
for y in a:
    print(y)

apple
banana
cherry

# Loop Through the Index Numbers
 -You can also loop through the list items by referring to their index number.

- Use the range() and len() functions to create a suitable iterable.

In [20]:
a=["apple","banana","cherry"]
for x in range(len(a)):
    print(a[x])

apple
banana
cherry

# Using a While Loop
- You can loop through the list items by using a while loop.

- Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by refering to their indexes.

- Remember to increase the index by 1 after each iteration.

In [2]:
a=["apple","cheery","fig"]
i=0
while i< len(a):
    print(a[i])
    i=i+1

apple
cheery
fig

# Looping Using List Comprehension
- A short hand for loop that will print all items in a list:

In [3]:
a=["apple","cherry","fig"]
[print(x) for x in a]

apple
cherry
fig

[None, None, None]

# List Comprehension
- List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

  - Example:

 - Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

 - Without list comprehension you will have to write a for statement with a conditional test inside:

In [7]:
a=["apple","banana","mango","kiwi","fig"]
newlist=[]
for x in a:
    if "a" in x:
        newlist.append(x)
        print(newlist)

['apple']
['apple', 'banana']
['apple', 'banana', 'mango']

In [10]:
a=["apple","cherry","banana","mango","kiwi","fig"]
newlist=[x for x in a if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

# Sort List Alphanumerically
 - List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

In [11]:
a=["apple","cherry","pineapple","fig","kiwi"]
a.sort()
print(a)

['apple', 'cherry', 'fig', 'kiwi', 'pineapple']

In [12]:
b=[100,50,65,120,199]
b.sort()
print(b)

[50, 65, 100, 120, 199]

# Sort Descending
-  To sort descending, use the keyword argument reverse = True:

In [13]:
c=["orange","cherry","pineapple","kiwi","banana"]
c.sort(reverse=True)
print(c)

['pineapple', 'orange', 'kiwi', 'cherry', 'banana']

In [14]:
d=[10,50,100,150,250,3000]
d.sort(reverse=True)
print(d)

[3000, 250, 150, 100, 50, 10]

# Customize Sort Function
- You can also customize your own function by using the keyword argument key = function.

 - The function will return a number that will be used to sort the list (the lowest number first):

In [2]:
def myfunc(n):
    return(n-50)
a=[100,65,50,82.23,25]
a.sort(key=myfunc)
print(a)

[25, 50, 65, 82.23, 100]

# Case Insensitive Sort
- By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:

In [3]:
a=["banana","Apple","Kiwi","fig"]
a.sort()
print(a)

['Apple', 'Kiwi', 'banana', 'fig']

In [5]:
b=["cherry","Apple","Fig","Anar"]
b.sort(key=str.lower)
print(b)

['Anar', 'Apple', 'cherry', 'Fig']

# By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:
- What if you want to reverse the order of a list, regardless of the alphabet?

 - The reverse() method reverses the current sorting order of the elements.

In [6]:
c=["Apple","banana","Cherry","kiwi"]
c.reverse()
print(c)

['kiwi', 'Cherry', 'banana', 'Apple']

# Copy a List
- There are ways to make a copy, one way is to use the built-in List method copy().

In [9]:
a= ["apple","banana","cherry"]
mylist=a.copy()
print(mylist)

['apple', 'banana', 'cherry']

# Join Two Lists
- There are several ways to join, or concatenate, two or more lists in Python.

 - One of the easiest ways are by using the + operator.

In [11]:
a=["a","b","c"]
b=[1,2,3,4,5,5,6,6]
c=a+b
print(c)

['a', 'b', 'c', 1, 2, 3, 4, 5, 5, 6, 6]

# Another way to join two lists is by appending all the items from list2 into list1, one by one:

In [13]:
a=["a","b","c"]
b=[1,2,3]
for x in b:
    a.append(x)
    print(a)

['a', 'b', 'c', 1]
['a', 'b', 'c', 1, 2]
['a', 'b', 'c', 1, 2, 3]

# to extend a list

In [18]:
a=["apple","bnanan","vherry"]
b=[1,2,3,4,5,6]
b.extend(a)
print(b)

[1, 2, 3, 4, 5, 6, 'apple', 'bnanan', 'vherry']